#games p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #000000;
    background-color:orange;
    padding: 10px;
    margin: 0px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#h1 {
    font-size: 2.0em;
    font-weight: bold;
    text-align: center;
    color: orange;
    background-color:black;
    padding: 10px;
    margin: 0px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 590px;
    margin: 0 auto;
    margin-bottom: 10px;
}

body {
    background-color: #000000;
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 1.0em;
    margin: 0px;
    padding: 0px;
}

#createGame {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #000000;
    background-color:beige;
    padding: 10px;
    margin: 0px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#para {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #000000;
    background-color:hsl(0, 100%, 50%);
    padding: 10px;
    margin: 0px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 10px;
}